{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Webchat</title>
    <link type="text/css" rel="stylesheet" href="{% static 'bundle.css' %}?{{ GIT_HASH }}"/>
  </head>
  <body>
    <div class="container">
      <a class="float-right" href="https://github.com/dhedegaard/webchat">
        Get the source!
      </a>
      <h2>Webchat</h2>
    </div>
    <div class="container" id="container"></div>
    <script type="text/javascript" src="{% static 'bundle.js' %}?{{ GIT_HASH }}"></script>
  </body>
</html>
