{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Webchat</title>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css" rel="stylesheet" />
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet" />
  <link href='http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700|Ubuntu:400,700' rel='stylesheet' type='text/css' />
  <link type="text/css" rel="stylesheet" href="{% static 'webchat.css' %}"/>
</head>
<body>
  {% csrf_token %}
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Webchat</h2>
        <div class="visible-lg">
          <p>If a simple long-polling based chat solution could be defined as fun, this would be one of those.</p>
          <p>Source available here:
            <a href="https://bitbucket.org/dennishedegaard/webchat">https://bitbucket.org/dennishedegaard/webchat</a></p>
          <hr />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div id="chat" class="form-control"></div>
      </div>
    </div>
    <div class="row">
      <label class="bold col-4 col-lg-2" for="username">Username:</label>
      <label class="bold col-8 col-lg-10" for="input">Message:</label>
    </div>
    <div class="row">
      <div class="col-4 col-lg-2">
        <input class="form-control" id="username" name="username" type="text" placeholder="anon" />
      </div>
      <div class="col-8 col-lg-10">
        <div class="input-group">
          <input class="form-control" id="input" name="input" type="text"
                 placeholder="Enter a message and hit Enter..." />
          <span class="input-group-btn">
            <button class="btn btn-default" id="btn_send" type="button">
              <i class="icon-envelope hidden-lg"></i>
              <span class="visible-lg"><i class="icon-envelope"></i> Send</span>
            </button>
          </span>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.3.1/jquery.cookie.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore-min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.1.0/moment.min.js"></script>
  <script type="text/javascript" src="{% static 'webchat.js' %}"></script>
</body>
</html>
